<div class="wrapper">
  <div class="page-header page-header-xs" style="background-image: url(https://images.pexels.com/photos/1012982/pexels-photo-1012982.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); background-size: cover; background-position: center; height: 50vh;">
    <div class="filter"></div>
  </div>
  <div class="section profile-content" style="padding: 0;">
    <div class="container">
      <div class="owner">
        <div class="avatar">
          {{#if photoURL}}
          <img src="{{photoURL}}" alt="Circle Image" class="img-circle img-no-padding img-responsive">
          {{else}}
          <img src="https://i.stack.imgur.com/34AD2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
          {{/if}}
        </div>
        <div class="name">
          {{#if name}}
          <h4 class="title">{{name}}<br /></h4>
          {{else}}
          <h4 class="title">{{email}}<br /></h4>
          {{/if}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <br />
          <a href="/profile/edit/{{_id}}" class="btn btn-outline-default btn-round"> Editar perfil</a>
        </div>
      </div>
      <br />
      <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#follows" role="tab">Today's posts</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Tab panes -->
      <div class="tab-content following">
        <div class="tab-pane active" id="follows" role="tabpanel">
          <div class="row">
            <div class="col-md-6 ml-auto mr-auto">
              <ul class="list-unstyled follows">
                <li>
                  <div class="row">
                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                      <img src="../assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                    </div>
                    <div class="col-md-7 col-sm-4  ml-auto mr-auto">
                      <h6>Flume<br /><small>Musical Producer</small></h6>
                    </div>
                  </div>
                </li>
                <hr />
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>