<div>
  <h1>{{productName}}</h1>
  <h3>{{description}}</h3>
  <h4>{{photo}}</h4>
  <p>Este producto pertenece al plan:
    <a href="/plans/detail/{{membership._id}}">{{membership.planName}}</a>
  </p>
</div>